.project_card{
    transition:all 0.5s ease;
    cursor: pointer;
}
.project_card:hover{
     transform: scale(1.05);
}
.project_card h3{
    color: white;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    margin: 1.25rem 0 0.44rem;
}
.Project_tags{
    display: flex;
    gap: 1.13rem;
    align-items: center;
}
.Project_tags p{
    color: #d9d9d9;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
}
a{
    text-decoration: none;
}