.skill_card{
    margin: 30px 20px;
}
.skill_card h2 {
    color: #ffffff;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.5rem;
    letter-spacing: -0.09375rem;
    margin-bottom: 0.88rem;
}
.skill_card p{
    color: #d9d9d9;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
}
